[x-cloak] { display: none !important; }

body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

header.main {
  width: 90%;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
}

header.main h3 {
  margin: 0;
}

header.main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}


main {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

h1 {
  margin: 25px 0 12px;
  font-size: 22px;
  font-weight: 100;
  line-height: 1em;
  display: flex;
}

h1 .price {
  margin-left: auto;
  font-weight: 700;
}

h6 {
  margin: 0 0 12px;
  color: #AAA;
  font-weight: 100;
}

.add {
  flex: 4;
  border: 0;
  background: #4fc3f7;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
}

section.product {
  background: #FFF;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-sizing: border-box;
  margin: 0 25px 0 0;
}

section.product footer {
  display: flex;
  margin-top: 25px;
}

section.product input {
  flex: 1;
  min-width: 0;
  border-radius: 8px;
  margin-right: 25px;
  border: 0;
  font-size: 14px;
  color: #888;
  font-weight: bold;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  text-align: center;
  padding: 0;
  outline: none !important;
}

.cover {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.colors {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.colors li {
  margin-right: 10px;
  display: flex;
}

.colors button {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: 0;
  background: #FFF;
  cursor: pointer;
  opacity: .8
} 

.colors button.sel {
  opacity: 1;
  width: 38px;
  height: 38px;
}

.colors button:hover {
  opacity: 1;
}

.colors button.red {
  background: #e57373;
}

.colors button.purple {
  background: #b39ddb;
}

.colors button.green {
  background: #aed581;
}

.related h3 {
  margin: 25px 0 0;
  font-weight: 600;
  font-size: 14px;
  color: #BBB;
  text-align: center;
}

.related article {
  margin-top: 25px;
  cursor: pointer;
}

.related article .cover {
  width: 100px;
  height: 100px;
  border: 3px solid #FFF;
}

.dark {
  background-color: #02040a;
}

.dark main section.product {
  background-color: #0d1116;
  border: 1px solid #30363d;
}

.dark h1 {
  color: #FFF;
}

.dark section.product input { 
  background: #30363d;
  color: #FFF;
}

.lk {
  background: none;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #BBB;
  cursor: pointer;
  letter-spacing: 1px;
  display: flex;
}

.lk span {
  display: inline-block;
  background: #4fc3f7;
  color: #FFF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.lk:last-child {
  margin-left: auto;
}

.lk:hover {
  opacity: #AAA;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  position: absolute;
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  width: 300px;
  padding: 6px 12px !important;
  font-size: 12px;
  flex-direction: column;
}

.dropdown ul li {
  padding: 6px
}

.added {
  position: fixed;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  top: 10px;
  background: rgb(76 175 80 / 80%);
  color: #FFF;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  padding: 5px 0;
  font-size: 13px;
}